body{
	background: url('../../img/b.jpg');
}
h1{
	font-family: font-family: "Hoefler Text", serif;
	font-size: 45pt;
}
h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
}
h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15pt;
	color: #0065b9;
}
h4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}
table{
	margin: 10px auto 10px auto;
}
table, th, td{
	border: 2px solid black;
}
td, th{
	padding: 5px;
}
#txtHint{
	width: 900px;
	height: 50px;
	margin: 10px auto;
}
.trans{
	background: #ffffff;
	/* for IE */
	filter:alpha(opacity=80);
	/* CSS3 standard */
	opacity:0.8;
}
/* header */
#top_container{
	width: 900px;
	height: 150px;
	margin: 0px auto 0px auto;
}
#top_container h4{
	margin: 0px 0px 10px 0px;
}
#top_container h2{
	margin: 20px 0px 0px 0px;
}
#top_left{
	width: 190px;
	height: 140px;
	padding: 10px 0px 0px 10px;
	float: left;
	text-align: left;
}
#top_center{
	width: 500px;
	height: 140px;
	padding: 10px 0px 0px 0px;
	float: left;
	text-align: center;
}
#top_right{
	width: 190px;
	height: 140px;
	padding: 10px 10px 0px 0px;
	float: left;
	text-align: right;
}

/* body */
#body_container{
	width: 780px;
	margin: 0px auto 0px auto;
}
.product{
	background: url(../../img/body_prod.png) no-repeat;
	width: 240px;
	height: 384px;
	margin: 7px 10px 0px 10px;
	float: left;
}
.product h2{
	width: 240px;
	height: 70px;
	padding-top: 30px;
	margin: 0px auto 0px auto;
	text-align: center;
}
.product .count{
	width: 240px;
	text-align: center;
	float: left;
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 20pt;
}
.product a{
	margin: 35px auto 35px 95px;
	float: left;
	width: 54px;
	height: 50px;
}
.button_plus{
	background: url(../../img/button_plus.png) no-repeat;
}
.button_minus{
	background: url(../../img/button_minus.png) no-repeat;
}

/* message */
#message_div{
	clear: both;
	width: 900px;
	height: 70px;
	margin: 0px auto;
}
#message_div a:link {text-decoration: none}
#message_div a:visited {text-decoration: none}
#message_div a:active {text-decoration: none}
#message_div a:hover {font-size:24; font-weight:bold; color: #d1d1d1;}
#message_div a{
	width: 200px;
	height: 70px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	margin: 20px auto auto 15px;
	clear: both;
	float: left;
}
#messages{
	width: 600px;
	height: 70px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	margin: 20px 15px auto auto;
	float: right;
}

/* footer */
#footer_container{
	clear: both;
	width: 900px;
	height: 50px;
	margin: 0px auto;
}

