body{
	background: url('../../img/b.jpg');
}
h1{
	font-family: font-family: "Hoefler Text", serif;
	font-size: 45pt;
}
h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
}
h3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15pt;
	color: #0065b9;
}
h4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}
table{
	margin: 10px auto 10px auto;
}
table, th, td{
	border: 2px solid black;
}
td, th{
	padding: 5px;
}
.trans{
	background: #ffffff;
	filter:alpha(opacity=80); /* for IE */
	opacity:0.8; /*CSS3 standard*/
}

/* === Structure Elements === */
#container{
	width: 960px;
	margin: 0px auto;
}
#header_container{
	width: 960px;
	height: 150px;
	margin: 0px auto;
}
#navigation{
	width: 960px;
	height: 76px;
	margin: 0px auto;
}
#content_container{
	width: 960px;
	margin: 0px auto;
}
#footer_container{
	width: 960px;
	margin: 0px auto;
}
#clear{
	clear: both;
}

/* Header */
#header_container h4{
	margin: 0px 0px 10px 0px;
}
#header_container h2{
	margin: 20px 0px 0px 0px;
}
#top_left{
	width: 220px;
	height: 140px;
	padding: 10px 0px 0px 10px;
	float: left;
	text-align: left;
}
#top_center{
	width: 500px;
	height: 140px;
	padding: 10px 0px 0px 0px;
	float: left;
	text-align: center;
}
#top_right{
	width: 220px;
	height: 140px;
	padding: 10px 10px 0px 0px;
	float: right;
	text-align: right;
}

/* Navigation */
ul#nav {
	float: left;
	height: 76px;
	font: 14pt Helvetica, Verdana, sans-serif;
	margin: 18px 0px 0px 0px;
}
ul#nav li{
	cursor: pointer;
	text-decoration: none;
	float: left;
	margin: 0px 0px 0px 10px;
	height: 59px;
	padding-left: 10px;
	background: url(../../img/lay.png) no-repeat left top;
}
ul#nav li a{
	height: 59px;
	color: #f3f4f5;
	float: left;
	text-decoration: none;
}
ul#nav li a:hover{
	color: #e38219;
}
ul#nav li a.active{
	height: 59px;
	color: #e38219;
	background: url(../../img/lay1.png) no-repeat 50% 100%;
}

/* Products */
.product{
	background: url(../../img/body_prod.png) no-repeat;
	width: 240px;
	height: 384px;
	margin: 7px 10px 0px 10px;
	float: left;
}
.product h2{
	width: 240px;
	height: 70px;
	padding-top: 30px;
	margin: 0px auto 0px auto;
	text-align: center;
}
.product .count{
	width: 240px;
	text-align: center;
	float: left;
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 20pt;
}
.product a{
	margin: 35px auto 35px 95px;
	float: left;
	width: 54px;
	height: 50px;
}
.button_plus{
	background: url(../../img/button_plus.png) no-repeat;
}
.button_minus{
	background: url(../../img/button_minus.png) no-repeat;
}
#txtHint{
	width: 960px;
	margin: auto;
}
#txtHint table{
	width: 800px;
	margin: 10px 80px 10px 80px;
	float: left;
}

/* Message */
#message_div{
	clear: both;
	width: 900px;
	height: 70px;
	margin: 0px auto;
}
#message_div a:link {text-decoration: none}
#message_div a:visited {text-decoration: none}
#message_div a:active {text-decoration: none}
#message_div a:hover {font-size:24; font-weight:bold; color: #d1d1d1;}
#message_div a{
	width: 200px;
	height: 70px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	margin: 20px auto auto 15px;
	clear: both;
	float: left;
}
#messages{
	width: 600px;
	height: 70px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	margin: 20px 15px auto auto;
	float: right;
}

/* Footer */


